body {
  padding: 75px 0;
  display: grid;
  place-content: center;
  background-color: $light-gray;
  font: {
    family: "Karla", sans-serif;
    size: 16px;
  }
}

main {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  width: 60%;
  margin: auto;
  box-shadow: 0 20px 50px $main-shadow;
}

section {
  padding: 0 0 0 0;
}

.one {
  padding: 0 40px;
  grid-area: 1/1/2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border: {
    top-left-radius: 7.5px;
    top-right-radius: 7.5px;
  }
  h1 {
    color: $cyan;
    margin-bottom: 20px;
    font: {
      size: 20px;
      weight: 700;
    }
  }
  p {
    &:nth-child(2){
      color: $bright-yellow;
      margin-bottom: 15px;
    }
    &:nth-child(3){
      color: $grayish-blue;
      line-height: 1.6;
    }
  }
}

.two {
  padding: 40px;
  grid-area: 2/1/3/2;
  border-bottom-left-radius: 7.5px;
  background-color: $section-2;
  p {
    &:nth-child(1){
      color: #fff;
      margin-bottom: 20px;
      font: {
        size: 18px;
        weight: 700;
      }
    }
    &:nth-child(2){
      display: flex;
      align-items: center;
      color: $per-month;
      margin-bottom: 10px;
      span {
        color:#fff;
        display: inline-block;
        margin-right: 15px;
        font: {
          size: 30px;
          weight: 700;
        }
      }
    }
    &:nth-child(3){
      color: $full-acess;
      margin-bottom: 30px;
    }
  }
  button {
    width: 100%;
    height: 50px;
    color:#fff;
    background-color: $bright-yellow;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0 10px 15px $button-shadow;
  }
}

.three {
  padding: 40px;
  grid-area: 2/2/3/3;
  background-color: $section-3;
  border: {
    bottom-left-radius: 0;
    bottom-right-radius: 7.5px;
  }
  p {
    color: #fff;
    margin-bottom: 15px;
    font: {
      size: 18px;
      weight: 700;
    }
  }
  ul {
    list-style-type: none;
  }
  li {
    color: $full-acess;
    display: block;
    margin-bottom: 5px;
  }
}