$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);
$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);

$section-1: #FFFFFF;
$section-2: #28ADAB;
$section-3: #4ABEBD;

$per-month: #7CE5E8;
$full-acess: #C5FFFF;
$button-shadow: #22918f;
$main-shadow: #b4c4d1;