* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 75px 0;
  display: -ms-grid;
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: #e5eff5;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

main {
  width: 80%;
  margin: auto;
  -webkit-box-shadow: 0 0 20px #b4c4d1;
          box-shadow: 0 0 20px #b4c4d1;
}

section {
  padding: 10%;
}

.one {
  background-color: #fff;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
}

.one h1 {
  color: #2ab2af;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}

.one p:nth-child(2) {
  color: #c0df34;
  margin-bottom: 15px;
}

.one p:nth-child(3) {
  color: #98a6bd;
  line-height: 1.6;
}

.two {
  background-color: #28ADAB;
}

.two p:nth-child(1) {
  color: #fff;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}

.two p:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7CE5E8;
  margin-bottom: 5px;
}

.two p:nth-child(2) span {
  color: #fff;
  display: inline-block;
  margin-right: 15px;
  font-size: 30px;
  font-weight: 700;
}

.two p:nth-child(3) {
  color: #C5FFFF;
  margin-bottom: 25px;
}

.two button {
  width: 100%;
  height: 45px;
  color: #fff;
  background-color: #c0df34;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  -webkit-box-shadow: 0 10px 15px #22918f;
          box-shadow: 0 10px 15px #22918f;
}

.three {
  background-color: #4ABEBD;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;
}

.three p {
  color: #fff;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}

.three ul {
  list-style-type: none;
}

.three li {
  color: #C5FFFF;
  display: block;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  body {
    padding: 75px 0;
    display: -ms-grid;
    display: grid;
    place-content: center;
    background-color: #e5eff5;
    font-family: "Karla", sans-serif;
    font-size: 16px;
  }
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[2];
    -ms-grid-columns: (1fr)[2];
        grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    width: 60%;
    margin: auto;
    -webkit-box-shadow: 0 20px 50px #b4c4d1;
            box-shadow: 0 20px 50px #b4c4d1;
  }
  section {
    padding: 0 0 0 0;
  }
  .one {
    padding: 0 40px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1/1/2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fff;
    border-top-left-radius: 7.5px;
    border-top-right-radius: 7.5px;
  }
  .one h1 {
    color: #2ab2af;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
  }
  .one p:nth-child(2) {
    color: #c0df34;
    margin-bottom: 15px;
  }
  .one p:nth-child(3) {
    color: #98a6bd;
    line-height: 1.6;
  }
  .two {
    padding: 40px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
    border-bottom-left-radius: 7.5px;
    background-color: #28ADAB;
  }
  .two p:nth-child(1) {
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
  }
  .two p:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #7CE5E8;
    margin-bottom: 10px;
  }
  .two p:nth-child(2) span {
    color: #fff;
    display: inline-block;
    margin-right: 15px;
    font-size: 30px;
    font-weight: 700;
  }
  .two p:nth-child(3) {
    color: #C5FFFF;
    margin-bottom: 30px;
  }
  .two button {
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #c0df34;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    -webkit-box-shadow: 0 10px 15px #22918f;
            box-shadow: 0 10px 15px #22918f;
  }
  .three {
    padding: 40px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
    background-color: #4ABEBD;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 7.5px;
  }
  .three p {
    color: #fff;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
  }
  .three ul {
    list-style-type: none;
  }
  .three li {
    color: #C5FFFF;
    display: block;
    margin-bottom: 5px;
  }
}
/*# sourceMappingURL=index.css.map */